<!-- Footer Start -->
<div class="container-fluid footer my-6 mb-0 py-5 wow fadeIn" data-wow-delay="0.1s">
    <div class="container py-5">
        <div class="row g-5">
          <!-- Office Address -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Office Address</h4>
                <p class="mb-2"><i class="fa fa-map-marker-alt me-3"></i>123 Street, New York, USA</p>
                <p class="mb-2"><i class="fa fa-phone-alt me-3"></i>+012 345 67890</p>
                <p class="mb-2"><i class="fa fa-envelope me-3"></i>info@example.com</p>
                <div class="d-flex pt-2">
                    <a class="btn-social me-1" href=""><i class="fab fa-twitter"></i></a>
                    <a class="btn-social me-1" href=""><i class="fab fa-facebook-f"></i></a>
                    <a class="btn-social me-1" href=""><i class="fab fa-youtube"></i></a>
                    <a class="btn-social me-0" href=""><i class="fab fa-linkedin-in"></i></a>
                </div>
            </div>
                  <!-- Quick Links -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Quick Links</h4>
                <a class="btn btn-link" routerLink="/about">About Us</a>
                <a class="btn btn-link" routerLink="/contact">Contact Us</a>
                <a class="btn btn-link" routerLink="/services">Our Services</a>
                <a class="btn btn-link" href="">Terms & Condition</a>
                <a class="btn btn-link" href="">Support</a>
            </div>
            <!-- Useful Links -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Useful Links</h4>
                <a class="btn btn-link" routerLink="/products">Products</a>
                <a class="btn btn-link" href="">FAQ</a>
                <a class="btn btn-link" href="">Privacy Policy</a>
                <a class="btn btn-link" href="">Help Center</a>
            </div>
            <!-- Photo Gallery -->
            <div class="col-lg-3 col-md-6">
                <h4 class="text-light mb-4">Photo Gallery</h4>
                <div class="row g-2">
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="assets/img/product-1.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="assets/img/product-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="assets/img/product-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="assets/img/product-2.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="assets/img/product-3.jpg" alt="">
                    </div>
                    <div class="col-4">
                        <img class="img-fluid bg-light rounded p-1" src="assets/img/product-1.jpg" alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Copyright -->
<div class="container-fluid copyright text-light py-4 wow fadeIn" data-wow-delay="0.1s">
    <div class="container">
        <div class="row">
            <div class="col-12 text-center text-md mb-3 mb-md-0">
                &copy; 2026 <a class="border-bottom" routerLink="/">Baker</a>, All Right Reserved.
            </div>
        </div>
    </div>
</div>
<!-- Footer End -->